.home{
    background: linear-gradient(#28104E, #212121);
    display: flex;
    flex-direction: row;

    width: 100vw;
    align-items: flex-start;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile{
    font-size: 5em;
    color: #deacf5;
}

.desc{
    font-size: 2em;
    color: #deacf5;
    margin-left: 0.2em;
}

.desc p{
    margin-top: 0.2em;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 0.25em;
}

#resume{
    font-weight: bold;
    font-size: 2em;
    color: #deacf5;
    justify-self: center;
    align-self: center;
    padding: 0.1em 0.2em 0.2em 0.2em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.1em;
    transition: background-color 500ms ease;
    cursor: pointer;
    text-decoration: none;
}

#resume:hover{
    background-color: #6237a0;
}

.homeDropdown{
    font-size: 3em;
    margin: 0.5em 1em 0 1em;
    color: #deacf5;
    padding: 0.2em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.1em;
    transition: background-color 500ms ease;
    cursor: pointer;
}

.homeDropdown:hover{
    background-color: #6237a0;
}

#dropdownLinks{
    display: flex;
    flex-direction: row;
}

.dropdownLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email{
    background-color: #6237a0;
    height: 1.7em;
    width: 12em;
    z-index: 3;
    text-align: center;
    border-radius: 0.5em;
    opacity: 0;
    transition: all 500ms ease;
}

.homeDropdown:hover~.email{
    opacity: 1;
}

.email p{
    display: hidden;
    transform: translateY(-300%);
    transition: all 500ms ease;
}

.homeDropdown:hover~.email p{
    display: inline;
    transform: translateY(0%);
}

@media (max-width: 480px){
    .profile{
        width: 100vw;
        font-size: calc(15vw * 1);
    }
    .desc{
        width: 100vw;
        font-size: calc(5vw * 1);
    }
    .links{
        width: 100vw;
    }
    .homeDropdown{
        margin: 0em;
    }
}